name: Run recipes

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  #schedule:
  #  # Schedule disabled because it uses all of A*V's github data.
  #  - # Run every day at 2:00 UTC
  #  - cron: "0 2 * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install git+https://github.com/AstarVienna/ScopeSim_Templates.git # _Templates moved up as it defines which ScopeSim should be installed (which might be outdated wrt the github dev version)
          pip install git+https://github.com/AstarVienna/ScopeSim_Data.git
          pip install git+https://github.com/AstarVienna/ScopeSim.git
          pip install astar-utils numpy more-itertools astropy PyYAML
          git clone https://github.com/AstarVienna/irdb.git
      - name: Run recipes
        run: |
          cd Simulations
          ln -s ../irdb inst_pkgs # symbolic link to git-cloned irdb copy to ensure latest irdb version (vs released version in download_packages)
          python python/testAll.py
      - name: Store output files
        uses: actions/upload-artifact@v5
        with:
          name: output
          path: output/
